<template>
  <Navigation />
  <h1>This is the contact page</h1>
</template>

<script>
import Navigation from "../parts/Navigation.vue";

export default {
  name: "ContactPage",
  components: {
    Navigation,
  },
};
</script>

<style lang="scss" scoped>
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: calc(100vh - 161px);
}
</style>