<template>
  <Navigation />
  <h1>This is the game page</h1>
  <div class="flex">
    <PocemonCard
      v-for="pockemon in pockemonData"
      :pockemon="pockemon"
      :isActive="pockemon.isActive"
      @onPocemonClick="onPocemonClick"
    />
  </div>
</template>

<script>
import pockemonData from "../../mocks/pockemons.json";
import PocemonCard from "../parts/Pockemon-card.vue";
import Navigation from "../parts/Navigation.vue";

// Добавляем в каждого покемона новое свойство isActive
const alteredPockemonData = pockemonData.map((pockemon) => {
  return Object.assign(pockemon, { isActive: false });
});

export default {
  name: "GamePage",
  components: {
    PocemonCard,
    Navigation,
  },
  data() {
    return {
      pockemonData: alteredPockemonData,
    };
  },
  methods: {
    onPocemonClick(id) {
      this.pockemonData = this.pockemonData.map((pockemon) => {
        if (pockemon.id === id) {
          pockemon.isActive = !pockemon.isActive;
        }
        return pockemon;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
h1 {
  text-align: center;
  font-size: 3rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
</style>

