<template>
  <Header title="This is title" descr="This is Description!" />
  <Layout :urlBg="manImage" />
  <Layout :colorBg="colorBg" />
  <Layout :urlBg="womanImage" />
  <Footer />
</template>

<script>
import Header from "../layouts/Header.vue";
import Layout from "../layouts/Layout.vue";
import Footer from "../layouts/Footer.vue";
import manImage from "../../assets/img/man.webp";
import womanImage from "../../assets/img/woman.webp";

export default {
  name: "HomePage",
  components: {
    Header,
    Layout,
    Footer,
  },
  data() {
    return {
      manImage,
      womanImage,
      colorBg: "#e2e2e2",
    };
  },
};
</script>