<template>
  <h1>404 page</h1>
  <router-link to="/">Go to Home page</router-link>
</template>

<script>
export default {
  name: "NotFoundPage",
};
</script>

<style lang="scss" scoped>
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  height: 100vh;
}
a {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
</style>