<template>
  <ul v-for="menu in menuData">
    <li>
      <router-link :to="menu.path">{{ menu.title }}</router-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "Navigation",
  data() {
    return {
      menuData: [
        { title: "Home page", path: "/" },
        { title: "About page", path: "/about" },
        { title: "Contact page", path: "/contact" },
        { title: "Game page", path: "/game" },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
ul {
  padding: 20px;
  display: inline-block;
  list-style: none;
}

li {
  margin-right: 20px;
  font-size: 20px;
}

li a {
  color: red;
}
</style>