<template>
  <router-view></router-view>
</template>

<script>
import styles from "./assets/scss/index.scss";
import pockemonData from "./mocks/pockemons.json";
export default {
  name: "App",
};
</script>